{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'style/questions.css' %}">
{% endblock css %}
{% block content %}
  <div class="question-back">
    <div class="question__container">
      <div class="question__container__header">
        <h1 class="question__container__title">Q&A</h1>
        <a href="{% url 'questions:myquestion'%}">
          <button>내 문의보기</button>
        </a>
      </div>
      <div class="question__container__main">
        <div class="question__container__main__box">
          <h3 class="question__container__main__box__title">작품 등록 비용이 발생하나요?</h3>
          <p class="question__container__main__box__answer">NES는 예술대학 재학생 및 졸업생의 예술가로서의 꿈을 장려하는 서비스로, 작품 등록을 위한 별도의 비용을 받고 있지 않습니다. </p>
          <button class="question__container__main__box__button">
            <svg class="question__container__main__box__button__down bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <svg class="question__container__main__box__button__cancle bi bi-x-circle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div>
        <div class="question__container__main__box">
          <h3 class="question__container__main__box__title">작품 가격은 어떻게 정해지나요?</h3>
          <p class="question__container__main__box__answer">고정가 형식으로 판매가 이루어집니다. 이 때, 작가분들이 처음 작품을 등록할 때 설정해주시는 가격으로 판매가 진행됩니다.<br> 판매가 이루어지는 기간 동안은 작가님들이 작품 가격을 어느 정도 범위 내에서 수정할 수 있습니다. 또한, 구매자께서 작가님들에게 가격 문의 및 제시가 가능합니다.</p>
          <button class="question__container__main__box__button">
            <svg class="question__container__main__box__button__down bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <svg class="question__container__main__box__button__cancle bi bi-x-circle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div>
        <div class="question__container__main__box">
          <h3 class="question__container__main__box__title">NES에서 진행하는 전시의 운영방식이 궁금합니다.</h3>
          <p class="question__container__main__box__answer">현재는 예술대학 재학생 및 졸업생과 협력하여 시행하는 기획전시 등이 진행되고 있습니다. 이외에도 다양한 형태의 기획전시는 물론 공모전 또한 진행 예정입니다.</p>
          <button class="question__container__main__box__button">
            <svg class="question__container__main__box__button__down bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <svg class="question__container__main__box__button__cancle bi bi-x-circle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div>
        <div class="question__container__main__box">
          <h3 class="question__container__main__box__title">결제내역은 어디서 확인할 수 있나요?</h3>
          <p class="question__container__main__box__answer">프로필 페이지에서 결제내역탭을 클릭하시면 확인할 수 있습니다.<br> 전자영수증이 필요하신 고객님은 고객센터로 문의바랍니다.</p>
          <button class="question__container__main__box__button">
            <svg class="question__container__main__box__button__down bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <svg class="question__container__main__box__button__cancle bi bi-x-circle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div>
        <div class="question__container__main__box">
          <h3 class="question__container__main__box__title">배송은 어떻게 이루어지나요?</h3>
          <p class="question__container__main__box__answer">작가분께서 컬렉터에게 실물작품을 배송하여야 합니다.<br> (국내배송의 경우 배송비는 작가분이 부담하고, 해외배송의 경우 구매자가 배송비를 부담하는 것을 원칙으로 합니다)</p>
          <button class="question__container__main__box__button">
            <svg class="question__container__main__box__button__down bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <svg class="question__container__main__box__button__cancle bi bi-x-circle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="question__container__footer">
        <a href="{% url 'questions:create' %}">
          <button>문의하기</button>
        </a>
      </div>
    </div>
  </div>
  <script>
    const toggles = document.querySelectorAll(".question__container__main__box__button");

    toggles.forEach((toggle) => {
      toggle.addEventListener("click", () => {
        toggle.parentNode.classList.toggle("active");
      });
    });
  </script>
{% endblock content %}