{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/basket.css' %}">
{% endblock css %}

{% block content %}

<div class="basket__container">
  <h3 class="basket__title">장바구니</h3>
  <div class="basket__content">
    {% for i in content %}
    <div class="basket__object">
      <div class="basket__photo">
        사진
      </div>
      <div class="basket__info">
        <h2 class="my-2">
          제목
        </h2>
        <p class="my-2">
          작가
        </p>
      </div>
      <div class="basket__price ms-auto">
        <h5 class="my-0 mx-3">가치</h5>
        <a href="" class="basket__button btn mx-3">삭제하기</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="basket__footer">
    <h2 class="ms-auto my-0 mx-5">전체 작품들의 가치</h2>
    <a href="" class="basket__footerbtn">
      <p class="basket__footerfont">주문하기</p>
    </a>
  </div>
</div>

{% endblock content %}