{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/complete.css' %}">
{% endblock css %}

{% block content %}

<div class="container">
  <h1 class="complete__pagetitle">구매 완료</h1>
  <div class="complete__container">
    <div>
      <div class="complete__photo-section">
        <img class="complete__photo" src="{% static 'photos/pic_1.png' %}" alt="작품">
      </div>
      <p class="complete__art-size">
        1220 x 1000
      </p>
      <p class="complete__payment">
        신용카드 결제
      </p>
    </div>
    <div class="complete__receipt">
      <div class="receipt__topline"></div>
      <div class="d-flex">
        <div class="receipt__orange orange-1"></div>
        <div class="receipt__orange orange-2"></div>
      </div>
      <h2 class="receipt__title">
        Heimat
      </h2>
      <p class="receipt__description">
        The project title Heimat (which translates as ‘homeland’) is a politically charged term....
      </p>
      <hr>
      <div class="receipt__profile">
        <h4 class="receipt__artist-name">작가 이름</h4>
        <div class="receipt__picture-link">
          <img class="receipt__artist-picture" src="{% static 'artists/Emily DP.png' %}" alt="사진">
          <a class="receipt__dm-link" href="">
            <div class="receipt__gray-circle">
              <img class="receipt__dm-img" src="{% static 'img/vector.png' %}">
            </div>
          </a>
        </div>
        <a href="">
          <img class="receipt__insta-img" src="{% static 'img/instagram.png' %}">
        </a>
        <a href="">
          <img class="receipt__link-img" src="{% static 'img/link.png' %}">
        </a>
      </div>
      <hr>
      <div class="receipt__footer">
        <p class="receipt__price">가격</p>
        <p class="receipt__price">102,500 Won</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}