{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/info.css' %}">
{% endblock css %}

{% block content %}

<div class="info__container">
  <div class="row">
    <div class="info__photo col-5">
      <img src="{% static 'photos/pic_1.png' %}">
    </div>
    <div class="info__detail col-5">
      <div>
        <h1>제목 Heimat</h1>
        <p>
          작품 상세 설명
          The project title Heimat (which translates as ‘homeland’) is a politically charged term. Delali took her stay
          in Germany as an opportunity to research the complexities of calling this country home, while people of colour
          continue to be subject to exclusion and racism.
        </p>
        <h4>
          제작 년도 2022
        </h4>
        <h4>
          그린 방법 캔버스 어쩌구
        </h4>
        <h4>
          작품 크기 가로 x 세로
        </h4>
      </div>
      <div class="d-flex">
        <h1 class="ms-auto">작가 이름</h1>
      </div>
      <div class="d-flex">
        <a class="ms-auto" href="">
          작가에게 문의하기
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
          </svg>
        </a>
      </div>
      <hr>
      <h1>가격</h1>
      <h2>200,000 Won</h2>
      <div class="d-flex">
        <a href="" class="btn btn-lg ms-auto">구매 리스트 추가</a>
        <a href="" class="btn btn-lg">바로 구매하기</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}