{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/info.css' %}">
{% endblock css %}

{% block content %}



<div class="container">
  <div class="info__container">
    <div class="info__photo-section">
      <img class="info__photo"  src="{{ art.image.url }}" alt="{{ art.image }}">
    </div>
    <div class="info__detail-section">
      <div>
        <h1 class="info__title">{{ art.title }}</h1>
        <p class="info__description">
          {{ art.content }}
        </p>
        <div class="info__detail">
          <h4 class="my-2">
            {{ art.painted_year }}
          </h4>
          <h4 class="my-2">
            {{ art.painted_way }}
          </h4>
          <h4 class="mt-5 mb-3">
            {{ art.art_size }}
          </h4>
        </div>
      </div>
      <div>
        <div class="info__artist-name">
          <h1 class="ms-auto">{{ art.artist.nickname }}</h1>
        </div>
        <div class="info__inquire">
          <a class="ms-auto" href="">
            작가에게 문의하기
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
            </svg>
          </a>
        </div>
      </div>
      <hr>
      <div class="info__price-section">
        <h1>가격</h1>
        <h2 class="info__price">{{ art.price }} Won</h2>
      </div>
      <div class="info__order">
        <!-- 장바구니 추가 -->
        {% if art.soldout == False %}
          <form method="POST" action="{% url 'orders:add_cart' art.pk %}">
            {% csrf_token %}
            {% bootstrap_form cart_form %}

            {% comment %} {% if product not in request.user.carts.all %}  
            {% if request.user in art.likes.all %} {% endcomment %}
          
            {% if art.pk in cart.all %}
              <button type="submit" class="btn">장바구니 빼기</button>
            {% else %}
              <button type="submit" class="btn">장바구니 담기</button>
            {% endif %}
          </form>
            <a href="{% url 'orders:create_order' %}" class="btn btn-lg">바로 구매하기</a>
            <p>{{ art.title }}</p>
            <p>{{ cart.art.all }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}