{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/info.css' %}">
{% endblock css %}

{% block content %}



<div class="container">
  <div class="info__container">
    <div class="info__photo-section">
      <img class="info__photo" src="{{ art.image.url }}" alt="{{ art.image }}">
    </div>
    <div class="info__detail-section">
      <div>
        <h1 class="info__title">{{ art.title }}</h1>
        <p class="info__description">
          {{ art.content }}
        </p>
        <div class="info__detail">
          <h4 class="my-2">
            {{ art.painted_year }}
          </h4>
          <h4 class="my-2">
            {{ art.painted_way }}
          </h4>
          <h4 class="mt-5 mb-3">
            {{ art.art_size }}
          </h4>
        </div>
      </div>
      <div>
        <div class="info__artist-name">
          <h1 class="ms-auto">{{ art.artist.nickname }}</h1>
        </div>
        <div class="info__inquire">
          <a class="ms-auto" href="">
            작가에게 문의하기
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-arrow-right-short" viewBox="0 0 18 18">
              <path fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
            </svg>
          </a>
        </div>
      </div>
      <hr class="info__hr m-0">
      <div class="info__price-section">
        <h1 class="mt-3">가격</h1>
        <h2 id="art-price" value="{{art.price}}" name="{{art.price}}" class="info__price">₩ {{ art.price }}</h2>
      </div>
      <div class="info__order">
        <!-- 장바구니 추가 -->
        {% if art.soldout == False %}
        <form method="POST" action="{% url 'orders:add_cart' art.pk %}">
          {% csrf_token %}
          {% bootstrap_form cart_form %}
          {% if cart %}
          {% for i in cart %}
          {% if art.pk == i.art_id %}
          <button type="submit" class="btn btn-lg">장바구니 빼기</button>
          {% endif %}
          {% endfor %}
          {% else %}
          <button type="submit" class="btn btn-lg">장바구니 담기</button>
          {% endif %}
        </form>
        <form action="{% url 'orders:payment' %}" method="GET">
          <button class="ms-5 btn btn-lg" onclick="location.href='{% url 'orders:payment' %}'">
            <input type="submit" value="바로 구매하기"/>
            <input type="hidden" value="{{art.price}}" name="바로구매"/>
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- 바로 구매하기 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    function buying(event) {
      const artPrice = document.querySelector("#art-price").value;
      console.log(artPrice)
      axios ({
        method: 'post',
        url: `payment/`,
        headers: {'X-CSRFToken': csrftoken},
        data: {'art_pk': artPrice},
      })
      .then(response => {
         console.log(data)
      })
    }
</script>

{% endblock content %}