{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/cart.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
<style>
  .simplebar-scrollbar::before {
    background-color: var(--white);
  }
</style>
{% endblock css %}

{% block content %}
<div class="container">
  <h1 class="basket__title">{{ request.user.nickname }} 님의 장바구니</h1>
  <div id="basket__simplebar" class="basket__content">
    <form id="basket-form">
      {% csrf_token %}
      {% for item in cart_items %}
      <div id="art-{{ item.art.pk }}" class="d-flex">
        <div class="basket__photo">
          <img class="basket__photo-object" src="{{ item.art.image.url }}" alt="{{ item.art_image }}">
        </div>
        <div class="basket__object">
          <div class="basket__info">
            <h2 class="my-2">
              {{ item.art.title }}
            </h2>
            <p class="my-2">
              {{ item.art.artist.nickname }}
            </p>
          </div>
          <div class="basket__price ms-auto">
            <h5 class="my-0 mx-3">₩ {{ item.art.price }}</h5>
            <!-- 장바구니에서 삭제 -->
            <button type="submit" data-art-id="{{ item.art.pk }}"
              class="remove-btn basket__button btn mx-5">삭제하기</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </form>
  </div>
  <div class="basket__footer">
    <a href="{% url 'articles:main' %}" class="basket__footerbtn btn">
      <p class="basket__footerfont">작품 목록으로</p>
    </a>
    <h2 id="basket__tp" class="ms-auto my-0 mx-5">₩ {{ total_price|default:"0" }}</h2>
    <form method="POST" action="{% url 'orders:payment' %}">
      {% csrf_token %}
      <button id="basket__paymentbtn" type="submit" class="basket__footerbtn btn">
        <p class="basket__footerfont">결제하기</p>
      </button>
    </form>
  </div>
</div>

{% block js %}
{% endblock js %}

<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script>
  new SimpleBar(document.getElementById('basket__simplebar'));
</script>

<!-- 상품 삭제 -->
<script>
  const removeBtnSet = document.querySelectorAll(".remove-btn");
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  for (i = 0; i < removeBtnSet.length; i++) {
    removeBtnSet[i].addEventListener("click", function (event) {
      event.preventDefault();
      let delete_warning = confirm("작품을 장바구니에서 삭제하시겠습니까?");
      if (delete_warning === true) {
        axios({
          method: 'post',
          url: `/orders/mycart/${event.target.dataset.artId}/delete/`,
          headers: { 'X-CSRFToken': csrftoken },
        })
          .then(response => {
            const targetDiv = document.querySelector(`#art-${response.data.artPk}`);
            targetDiv.remove();

            const basketTp = document.querySelector("#basket__tp");
            basketTp.innerText = "₩" + " " + String(response.data.total_price_after_delete);
          });
      };
    });
  };
</script>
<script>
  const paymentBtn = document.querySelector("#basket__paymentbtn");
  const totalPrice = document.querySelector("#basket__tp");
  paymentBtn.addEventListener("click", function () {
    if (totalPrice.innerText === "₩ 0") {
      event.preventDefault();
      alert("장바구니에 작품이 없습니다!");
    };
  });
</script>

{% endblock content %}