{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/offer.css' %}">
{% endblock css %}
{% block content %}

<section class="myquestion__back">  
  <nav class="articles__nav">
    <button class="offcanvas__btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
      <img class="nav__logo" src="../../../static/img/logo-orange.png" alt="logo"/>
    </button>
    <div style="width: 17rem" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header pb-0">
        <img class="offcanvas__logo offcanvas-title" src="../../../static/img/logo-op-blue.png" alt="logo"/>
        <div>
          <button class="offcanvas__close--btn" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="offcanvas-body">
        <ul class="offcanvas__ul">
          <li>
            {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}">
              <button class="custom-btn offcanvas__header--btn p-0">
                {% if request.user.creater_name %}
                  {{request.user.creater_name}}
                {% elif request.user.username %}
                  {{ request.user.username }}
                {% endif %}
                <svg style="width: 1.5rem; height: 1.5rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewbox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                </svg>
              </button>
            </a>
            {% else %}
            <a href="{% url 'accounts:login' %}">
              <button class="custom-btn offcanvas__header--btn">
                <svg style="width: 1.5rem; height: 1.5rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewbox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                </svg>
              </button>
            </a>
            {% endif %}
          </li>
          <li>
            <a href="{% url 'articles:main' %}" class="text-dark">
            홈
            </a>
          </li>
          <li>
            {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:profile' request.user.pk %}" class="text-dark">
            프로필
            </a>
            {% else %}
            <a href="{% url 'accounts:login' %}" class="text-dark">
              프로필
              </a>
            {% endif %}
          </li>
          <li>
            <a href="{% url 'articles:main' %}" class="text-dark">
            전체 작품
            </a>
          </li>
          <li>
            <a href="{% url 'accounts:recently' request.user.pk %}" class="text-dark">
              최근 본 작품
            </a>
          </li>
          <li>
            <a href="{% url 'orders:offer' %}" class="text-dark">
              가격 문의
            </a>
          </li>
          <li>
            <a href="{% url 'notes:index' %}" class="text-dark">
            편지함
            </a>
          </li>
          <li>
            <a href="{% url 'questions:index' %}" class="text-dark">
            문의사항
            </a>
          </li>
          <li>
            About
            <img class="offcanvas__about--logo" src="../../../static/img/logo-orange.png"/>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="myquestion__container">
  <div class="myquestion__title">
    <h1 class='myquestion__title__text'>가격 문의</h1>
    <a href="{% url 'articles:main'%}">
      <button class="btn order-outline-btn">돌아가기</button>
    </a>
  </div>
  {% for offer in offers %}
  <div class="myquestion__list">
    <div class="myquestion__list__title">
      <p class="mx-5">제시 가격: ₩ {{ offer.offer_price | intcomma }}</p> <p>기존 가격: ₩ {{ offer.art.price | intcomma }}</p>
      <button class="myquestion__list__title__button" data-container="myquestion__title__content__{{ question.pk }}">
        <svg class="myquestion__list__title__button__down bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
        <svg class="myquestion__list__title__button__cancle bi bi-x-circle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg> 
      </button>
    </div>
    <div class="myquestion__title__content" id="myquestion__title__content__{{ offer.pk }}">
      {% if offer.art.image %}
      <div class="myquestion__title__content__image">
        <img src="{{ offer.art.image.url }}" alt="">
      </div>
      {% else %}
      <div>
        
      </div>
      {% endif %}
      <div class="myquestion__title__content__box">
        <p class="myquestion__title__content__text"><span class="category-text">제목</span> {{ offer.title }}</p>
        <div class="myquestion__title__content__comment">
          <p><span class="category-text">내용</span> {{ offer.content }}</p>
        </div>
        <div class="myquestion__title__content__comment">
          <p><span class="category-text">작품</span> {{ offer.art.title }}</p>
        </div>
        <div>
          <form action="{% url 'orders:offer_accept' offer.pk %}" method="POST" class="offer-form" onclick="accept(event)">
            {% csrf_token %}
            <button type="submit" name="수락" value="수락" class="btn offer-outline-btn" data-offer-id="{{ offer.pk }}">수락</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="myquestion__list__last"></div>
</section>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const toggles = document.querySelectorAll(".myquestion__list__title__button");

    toggles.forEach((toggle) => {
      toggle.addEventListener("click", () => {
        toggle.parentNode.classList.toggle("active");
      });
    });
    
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    function accept(event) {
      event.preventDefault();
      Swal.fire({
        title: "작품 가격 조정",
        text: "구매자의 제안을 수락하시겠습니까?",
        icon: "question",
        backdrop: "rgba(255,255,255,0.5)",
        showCancelButton: true,
        confirmButtonColor: '#f3672a',
        cancelButtonColor: '#203e96',
        confirmButtonText: "수락합니다.",
        cancelButtonText: "거절합니다."
      })
      .then((result) => {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        if (result.isConfirmed) {
          let formData = new FormData()
          formData.append('note_pk', event.target.dataset.offerId);
          axios({
            method: 'post',
            url: `/orders/offer_accept/${event.target.dataset.offerId}/`,
            headers: {'X-CSRFToken': csrftoken},
            data: formData,
          })
          .then(response => {
            Swal.fire({
              backdrop: "rgba(255,255,255,0.5)",
              title: '수락되었습니다.',
              text: "작품의 가격이 조정되었습니다.",
              icon: "success",
              confirmButtonColor: '#203e96',
              confirmButtonText: '닫기',
            });
          });
        } else {
          Swal.fire({
            backdrop: "rgba(255,255,255,0.5)",
            title: '거절되었습니다.',
            text: "제안이 거절되었습니다.",
            icon: "success",
            confirmButtonColor: '#203e96',
            confirmButtonText: '닫기',
          });
        };
      });
    };
</script>
{% endblock content %}