{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/payment.css' %}">
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-7">
        <h3>결제</h3>
        <p>본인 정보가 정확한지 확인해주세요.</p>
        <div>
          <form id="payment-form" action="" method="POST" class="form">
            {% csrf_token %}
            
          </form>
        </div>
      </div>
      <div class="col-5">
        {% for item in cart_items %}
        <div>
          <img src="{{ item.art.image.url }}" alt="{{ item.art.image }}" width="280" height="350">
        </div>
        <div>
          <h4>{{ item.art.title }}</h4>
        </div>
        <div>
          <p>상품가격 {{ item.art.price }}</p>
        </div>
        {% endfor %}
        <hr>
        <div>
          <p>총 상품가격 {{ total_price }}</p>
          <p>배송요금 {{ delivery_fee }}</p>
          <p class="text-muted">총 상품가격이 300000원 이상일 경우 배송요금은 0원 입니다.</p>
          <hr>
          <h3>총가격</h3>
          <h3>{{ billing_amount }}</h3>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      {% bootstrap_button id="order_btn" form="payment-form" button_type="submit" button_class="btn btn-lg" content="결제하기" style="width: 10rem;" %}
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="http://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
  <script>
    const orderBtn = document.getElementById('order_btn')
    orderBtn.addEventListener('click', function (event) {
      event.preventDefault();
      
      var IMP = window.IMP;
      IMP.init('imp12672042'); // 가맹점 식별코드
      
      // 결제요청
      IMP.request_pay({
        pg: 'inicis', // pg사 == 이니시스
        pay_method: 'card',
        merchant_uid: 'merchant_' + new Date().getTime(), // 주문번호
        name: '주문명:결제테스트',
        amount: '{{ billing_amount }}',
        buyer_name: '{{ request.user.nickname }}',
        buyer_email: '{{ request.user.email }}',

      }, function (rsp) {
        if ( rsp.success ) {
          var msg = '결제가 완료되었습니다.';
          msg += '결제 금액 : ' + rsp.paid_amount +'원';
          // location.href = "/orders/order/?shipping_address=" + shipping_address.value + "&contact_number=" + shipping_phoneNum.value;

        }
        else {
          var msg = '결제에 실패하였습니다. 에러내용 : ' + rsp.error_msg;

        }
        alert(msg);
      });
    });
  </script>
{% endblock content %}