{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>회원정보</h1>
{% comment %} 카카오 로그인 {% endcomment %}
{{ request.user.nickname }}
<img src="{{ request.user.profileimage }}" alt="" style="width:100px; height:100px;">
{% comment %} 일반 로그인 {% endcomment %}
{{ request.user }} 


{% if request.user.is_authenticated %}
  <a href="{% url 'accounts:logout' %}">로그아웃</a>
{% else %}
  <a href="{% url 'accounts:login' %}">
    <button class="login-frame__form__logbtn">로그인</button>
  </a>
{% endif %} 
{% endblock content %}