{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/recently.css' %}">
{% endblock css %}

{% block content %}

<div class="recently__top">
  <a class="offcanvas__btn" href="{% url 'articles:main' %}">
    <img class="nav__logo" src="../../../static/img/logo-orange.png" alt="logo" />
  </a>
  <div class="recently__main">
    <h1 class="recently__title">
      최근 본 작품
    </h1>
    <div class="recently__content">
      {% for art in art_list %}
      <div>
        <a href="{% url 'articles:detail' art.pk %}">
          <img src="{{ art.image.url }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}