{% extends 'base.html' %}
{% load static %}

{% load django_bootstrap5 %}
{% block content %}
<div class="signup-frame">
  <div role="alert" aria-live="assertive" aria-atomic="true" id="toast_signup" class="toast_1">
    <div class="toast-body" id="toast_context">
      {% comment %} <button type="button" class="btn-close" id="closebtn" aria-label="Close"></button> {% endcomment %}
    </div>
  </div>
  <div class="signup-frame__form">
    <img class="signup-frame__form__img" src="{% static 'images/nes_orange.png' %}" alt="">
    <form id="form-signup" action="" method="POST">
      {% csrf_token %}
      <div class="signup-frame__form__container">
        <div class="signup-frame__form__container__login" id="login__check">
          <p>Instagram
          </p>
          <div class="signup-frame__form__container__login__check">
            <input class="signup-frame__form__container__login__check__input" required="required" type="text"
              id="idname" name="instagram" placeholder="https://www.instagram.com/nes/">
          </div>
        </div>
        <div class="signup-frame__form__container__email">
          <p>Github
          </p>
          <div class="signup-frame__form__container__email__check">
            <input id="id_email" name="github" type="text" placeholder="https://github.com/nes">
            <!--전달할 value값-->
            <!-- 현동 : 모달 버튼 아이디 추가 modal-btn0 -->
          </div>
        </div>
        <div class="signup-frame__form__container__address">
          <p>Facebook
          </p>
          <div class="signup-frame__form__container__address__search">
            <input type="text" name="facebook" placeholder="https://www.facebook.com/nes/">
          </div>
        </div>
        <div class="signup-frame__form__container__submit">
          <a href="{% url 'accounts:profile' request.user.pk %}">
            <input type="button" class="signup-frame__form__container__submit__back" value="뒤로가기">
          </a>
          <button class="signup-frame__form__container__submit__go">저장하기</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% comment %} axious {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% comment %} 주소검색 api {% endcomment %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
{% endblock content %}