{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/post.css' %}">
{% endblock css %}
{% block content %}

<section class="post_back">
  <nav class="articles__nav">
    <button class="offcanvas__btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
      <img class="nav__logo" src="../../../static/images/nes_orange.png" alt="logo"/>
    </button>
    <div style="width: 17rem" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header pb-0">
        <img class="offcanvas__logo offcanvas-title" src="../../../static/img/logo-op-blue.png" alt="logo"/>
        <div>
          <button class="offcanvas__close--btn" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="offcanvas-body">
        <ul class="offcanvas__ul">
          <!-- 로그인 유저 -->
          {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'accounts:logout' %}">
              <button class="custom-btn offcanvas__header--btn p-0">
                {% if request.user.creater_name %}
                  {{request.user.creater_name}}
                {% elif request.user.username %}
                  {{ request.user.username }}
                {% endif %}
                <svg style="width: 1.5rem; height: 1.5rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewbox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                </svg>
              </button>
            </a>
          </li>
          <li>
            <a href="{% url 'articles:main' %}" class="text-dark">
            홈
            </a>
          </li>
          <li>
            <a href="{% url 'accounts:profile' request.user.pk %}" class="text-dark">
            프로필
            </a>
          </li>
          <li>
            <a href="{% url 'articles:main' %}" class="text-dark">
            전체 작품
            </a>
          </li>
          <li>
            <a href="{% url 'accounts:recently' request.user.pk %}" class="text-dark">
              최근 본 작품
            </a>
          </li>
          <li>
            <a href="{% url 'orders:offer' %}" class="text-dark">
              가격 문의
            </a>
          </li>
          <li>
            <a href="{% url 'notes:index' %}" class="text-dark">
            편지함
            </a>
          </li>
          <li>
            <a href="{% url 'questions:index' %}" class="text-dark">
            문의사항
            </a>
          </li>
          <li>
            About
            <img class="offcanvas__about--logo" src="../../../static/img/logo-orange.png"/>
          </li>
          <!-- 비로그인 유저 -->
          {% else %}
          <li>
            <a href="{% url 'accounts:login' %}">
              <button class="custom-btn offcanvas__header--btn">
                로그인 해주세요!
                <svg style="width: 1.5rem; height: 1.5rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewbox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                </svg>
              </button>
            </a>
          </li>
          <li>
            <a href="{% url 'articles:main' %}" class="text-dark">
            홈
            </a>
          </li>
          <li>
            <a href="{% url 'articles:main' %}" class="text-dark">
            전체 작품
            </a>
          </li>
          <li>
            <a href="{% url 'questions:index' %}" class="text-dark">
            문의사항
            </a>
          </li>
          <li>
            About
            <img class="offcanvas__about--logo" src="../../../static/img/logo-orange.png"/>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <section class="post__cover">
    <h1 class="post__cover__h1"></h1>
    <div class="post__cover__main">
      <div class="post__cover__main__box">
        <div class="post__cover__main__box__header">
          <h3 class="post__title">받은 편지함</h3>
        </div>
        <hr>

        {% comment %} 받은 DM {% endcomment %}
        <div class="dm__content">
        {% for note in page_obj %}
        <div class="post__cover__main__box__list" id="{{note.pk}}">
          <div class="post__cover__main__box__modal" data-note-id="{{note.pk}}" value="{{note.pk}}" onclick="read(event)">
            <div class="note__username">
              {% if note.from_user.test %}
                {{ note.from_user.creater_name }}
              {% elif note.from_user.creater_name %}
                {{ note.from_user.creater_name }}
              {% else %}
                {{ note.from_user.username }}
              {% endif %}
            </div>  
            {% comment %} 보낸사람 {% endcomment %}
            <button type="button" class="modal-btn note__title--btn" data-bs-toggle="modal" data-bs-target="#modal{{note.pk}}" data-note-id="{{note.pk}}" value="{{note.pk}}" onclick="read(event)">
            <div class="note__title">{{ note.title }}</div>
            </button>
            <div class="note__date">{{ note.created_at|date:'y.m.d' }}</div>
            <div class="note__read">
              {% if note.read == 0 %}
              <i id="readbool" class="bi bi-check"></i>
              {% else %}
              <i id="readbool" class="bi bi-check-all"></i>
              {% endif %}
            </div>
          </div>
        <button class="note__delete">
          {% csrf_token %}
            <i class="bi bi-trash" data-note-id="{{note.pk}}" value="{{note.pk}}" onclick="remove(event)"></i>
        </button>
        </div>
        {% comment %} 받은 DM 끝 {% endcomment %}
        <!-- Modal -->
        <div class="modal fade" id="modal{{note.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  {% if note.from_user.test %}
                    {{ note.from_user.creater_name }}
                  {% elif note.from_user.creater_name %}
                    {{ note.from_user.creater_name }}
                  {% else %}
                    {{ note.from_user.username }}
                  {% endif %}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="fw-bold fs-5 mb-1">{{ note.title }}</div>
                <div>{{ note.content }}</div>
              </div>
              <div class="modal-footer">
                <a href="{% url 'notes:send' note.from_user.pk %}">
                  <button type="button" class="send__btn">답장하기
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal 끝 -->
        {% endfor %}
        </div>

        {% comment %} 받은 DM 페이지네이션 {% endcomment %}
        <div class="paginagtion">
          <hr>
          <span class="step-links">
          <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" style="background-color: transparent; border:1px solid #646265; border-radius: 0; color:#646265" href="?note={{from_name}}{{ page_obj.previous_page_number }}"><</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265; border-radius: 0;" tabindex="-1" aria-disabled="true" href="#"><</a>
            </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
                  {% if page_number == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265" href="?note={{from_name}}{{ page_number }}">{{ page_number }}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                        <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265" href="?note={{from_name}}{{ page_number }}">{{ page_number }}</a>
                    </li>
                  {% endif %}
                {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265; border-radius: 0;" href="?note={{from_name}}{{ page_obj.next_page_number }}">></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265; border-radius: 0;" tabindex="-1" aria-disabled="true" href="#">></a>
            </li>
            {% endif %}
          </ul>
          </span>
        </div>
        {% comment %} 받은 DM 페이지네이션 끝 {% endcomment %}
      </div>

      <div class="post__cover__main__box">
        <div class="post__cover__main__box__header">
          <h3 class="post__title">보낸 편지함</h3>
        </div>
        <hr>
        {% comment %} 보낸 DM {% endcomment %}
        <div class="dm__content">
        {% for to_note in to_page_obj %}
        <div class="post__cover__main__box__list">
        <button type="button" class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#modal{{to_note.text}}">
          <div class="post__cover__main__box__modal" data-note-id="{{note.pk}}" value="{{note.pk}}" onclick="read(event)">
            {% if to_note.to_user.test %}
            <div style="width:80px;">{{ to_note.to_user.creater_name }}</div>
            {% elif to_note.to_user.creater_name %}
            <div style="width:80px;">{{ to_note.to_user.creater_name }}</div>
            {% else %}
            <div style="width:80px;">{{ to_note.to_user.username }}</div>
            {% endif %}
            <button type="button" class="modal-btn note__title--btn" data-bs-toggle="modal" data-bs-target="#modal{{to_note.text}}">
            <div class="note__title">{{ to_note.title }}</div>
            </button>
            <div class="note__date">{{ to_note.created_at|date:'y.m.d' }}</div>
            <div class="note__read">
              {% if note.read == 0 %}
              <i id="readbool" class="bi bi-check"></i>
              {% else %}
              <i id="readbool" class="bi bi-check-all"></i>
              {% endif %}
            </div>
          </div>
      </div>
        {% comment %} 보낸 DM 끝 {% endcomment %}
        <!-- Modal -->
        <div class="modal fade" id="modal{{to_note.text}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  {% if to_note.to_user.test %}
                    {{ to_note.to_user.creater_name }}
                  {% elif to_note.to_user.creater_name %}
                    {{ to_note.to_user.creater_name }}
                  {% else %}
                    {{ to_note.to_user.username }}
                  {% endif %}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="fw-bold fs-5 mb-1">{{ to_note.title }}</div>
                <div>{{ to_note.content }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal 끝-->
        {% endfor %}
        </div>

        {% comment %} 보낸 DM 페이지네이션 {% endcomment %}
        <div class="paginagtion">
          <hr>
          <span class="step-links">
          <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if to_page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" style="background-color: transparent; border:1px solid #646265; border-radius: 0; color:#646265" href="?note={{to_name}}{{ to_page_obj.previous_page_number }}"><</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265; border-radius: 0;" tabindex="-1" aria-disabled="true" href="#"><</a>
            </li>
            {% endif %}

            {% for page_number in to_page_obj.paginator.page_range %}
                {% if page_number >= to_page_obj.number|add:-5 and page_number <= to_page_obj.number|add:5 %}
                  {% if page_number == to_page_obj.number %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265" href="?note={{to_name}}{{ page_number }}">{{ page_number }}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                        <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265" href="?note={{to_name}}{{ page_number }}">{{ page_number }}</a>
                    </li>
                  {% endif %}
                {% endif %}
            {% endfor %}
            
            {% if to_page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265; border-radius: 0;" href="?note={{to_name}}{{ to_page_obj.next_page_number }}">></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" style="background-color: transparent; border:1px solid #646265; color:#646265; border-radius: 0;" tabindex="-1" aria-disabled="true" href="#">></a>
            </li>
            {% endif %}
          </ul>
          </span>
        </div>
        {% comment %} 보낸 DM 페이지네이션 끝 {% endcomment %}
      </div>
    </div>
  </section>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function read(event) {
    axios({
      method: 'get',
      url: `/notes/${event.target.dataset.noteId}/detail/`,
      data: {'note_pk': event.target.dataset.noteId},
    })
    .then(response => {
      const div = document.querySelector("#readbool")
      div.className = "bi bi-check-all"
    })
  }

  function remove(event) {
    console.log(event.target.dataset.noteId)
    var delete_warngin = confirm("편지를 삭제하시겠습니까?")
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    if (delete_warngin == true) {
      axios({
        method: 'post',
        url: `/notes/${event.target.dataset.noteId}/delete/`,
        headers: {'X-CSRFToken': csrftoken},
        data: {'note_pk': event.target.dataset.noteId},
      })
      .then(res => {
        const resdata = res.data.pk
        const div = document.getElementById(resdata)
        console.log(div)
        div.remove()
      })
    }
  }
  </script>

{% endblock content %}

