{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/upload.css' %}">
{% endblock css %}
{% block content %}


<div class="upload__back">
    <div class='upload__back__container'>
        <h1 class='upload__title'>작품 등록</h1>
        
        <form action="" method="POST" enctype="multipart/form-data" class="upload__form" id="upload__form">
            {% csrf_token %}
            <div class="upload__total">
                <div class="upload__total__info">
                    <div class="upload__img">
                        <p>이미지</p>
                        <input class="upload__img__name" id="imginfo" value="" placeholder="첨부파일" readonly>
                        <input type="file" id="choosefile" name="image" accept="image/*" required
                            onchange="setThumbnail(event);" value=""tag="choosefile">
                        <label for="choosefile">
                            <p>파일 선택</p></label>
                    </div>
                    <div class="upload__form__category">
                        <p>카테고리</p>
                        <select name="art_category" required id="upload__form">
                            <option value="" selected disabled hidden>---------</option>
                            <option value="동양화">동양화</option>
                            <option value="서양화">서양화</option>
                            <option value="판화">판화</option>
                            <option value="일러스트">일러스트</option>
                            <option value="조소">조소</option>
                            <option value="설치미술">설치미술</option>
                            <option value="사진">사진</option>
                        </select>
                    </div>
                    <div class="upload__titleform">
                        <p>제목</p>
                        <input type="text" name="title" required placeholder="작품 제목을 입력해주세요.">
                    </div>
                    <div class="upload__size">
                        <p>작품 크기</p>
                        <input type="text" name="art_size" required placeholder="ex) 1024 X 960">
                    </div>
                    <div class="upload__date">
                        <p>제작 년도</p>
                        <input type="text" name="painted_year" required maxlength="4" placeholder="ex) 2022">
                    </div>
                    <div class="upload__date">
                        <p>제작 기법</p>
                        <input type="text" name="painted_way" required maxlength="20" placeholder="ex) 캔버스에 유화">
                    </div>
                    <div class="upload__price">
                        <p>가격</p>
                        <input type="number" name="price" required placeholder="가격을 입력해주세요.">
                    </div>
                    <div class="upload__contentform">
                        <p>작품 설명</p>
                        <textarea name="content" rows="3" required placeholder="작품 설명을 입력해주세요."></textarea>
                    </div>
                </div>
                <div class="upload__preview" id="preview"></div>
            </div>
            <button type="submit" class="upload__form__button">등록하기</button>
        </form>
    </div>
</div>
<script>
    const fileUp = document.querySelector("#choosefile");
    fileUp.addEventListener("change", () => {
        const imgInfo = document.querySelector("#imginfo");
        imgInfo.value = fileUp.files[0].name;
    })
    function setThumbnail(event) {
        var reader = new FileReader();
        const imgPreview = document.querySelector("#preview");
        console.log(imgPreview.childElementCount)
        reader.onload = function (event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("class", "upload__preview__img")
            img.setAttribute("id", "imgpreview")
            if (imgPreview.childElementCount >= 1) {
                imgPreview.removeChild(document.querySelector("#imgpreview"));
                imgPreview.appendChild(img);
            }
            else {
                document.querySelector("#preview").appendChild(img);
            }
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}