{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/upload.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
{% endblock css %}
{% block content %}


<div class="upload__back">
    <nav class="articles__nav">
        <button class="offcanvas__btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">
        <img class="nav__logo" src="../../../static/img/logo-op-blue.png" alt="logo" />
        </button>
        <div style="width: 17rem" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header pb-0">
            <img class="offcanvas__logo offcanvas-title" src="../../../static/img/logo-op-blue.png" alt="logo"/>
            <div>
            <button class="offcanvas__close--btn" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
            </div>
        </div>
        <div class="offcanvas-body">
            <ul class="offcanvas__ul">
            <!-- 로그인 유저 -->
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'accounts:logout' %}">
                <button class="custom-btn offcanvas__header--btn p-0">
                    {% if request.user.creater_name %}
                    {{request.user.creater_name}}
                    {% elif request.user.username %}
                    {{ request.user.username }}
                    {% endif %}
                    <svg style="width: 1.5rem; height: 1.5rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewbox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                </a>
            </li>
            <li>
                <a href="{% url 'articles:main' %}" class="text-dark">
                홈
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:profile' request.user.pk %}" class="text-dark">
                프로필
                </a>
            </li>
            <li>
                <a href="{% url 'articles:main' %}" class="text-dark">
                전체 작품
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:recently' request.user.pk %}" class="text-dark">
                최근 본 작품
                </a>
            </li>
            <li>
                <a href="{% url 'orders:offer' %}" class="text-dark">
                가격 문의
                </a>
            </li>
            <li>
                <a href="{% url 'notes:index' %}" class="text-dark">
                편지함
                </a>
            </li>
            <li>
                <a href="{% url 'questions:index' %}" class="text-dark">
                문의사항
                </a>
            </li>
            <li>
                <a href="{% url 'orders:mycart' %}" class="text-dark">
                장바구니
                </a>
            </li>
            <li>
                <a href="{% url 'articles:about' %}" class="text-dark">
                About
                <img class="offcanvas__about--logo" src="../../../static/img/logo-orange.png"/>
                </a>
            </li>
            <!-- 비로그인 유저 -->
            {% else %}
            <li>
                <a href="{% url 'accounts:login' %}">
                <button class="custom-btn offcanvas__header--btn">
                    로그인 해주세요!
                    <svg style="width: 1.5rem; height: 1.5rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewbox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                </button>
                </a>
            </li>
            <li>
                <a href="{% url 'articles:main' %}" class="text-dark">
                홈
                </a>
            </li>
            <li>
                <a href="{% url 'articles:main' %}" class="text-dark">
                전체 작품
                </a>
            </li>
            <li>
                <a href="{% url 'questions:index' %}" class="text-dark">
                문의사항
                </a>
            </li>
            <li>
                <a href="{% url 'articles:about' %}" class="text-dark">
                About
                <img class="offcanvas__about--logo" src="../../../static/img/logo-orange.png"/>
                </a>
            </li>
            {% endif %}
            </ul>
        </div>
        </div>
    </nav>
    <div class='upload__back__container'>
        <h1 class='upload__title'>작품 등록</h1>
        
        <form action="" method="POST" enctype="multipart/form-data" class="upload__form" id="upload__form">
            {% csrf_token %}
            <div class="upload__total">
                <div class="upload__total__info">
                    <div class="upload__img">
                        <p>이미지</p>
                        <input class="upload__img__name" id="imginfo" value="" placeholder="첨부파일" readonly>
                        <input type="file" id="choosefile" name="image" accept="image/*" required
                            onchange="setThumbnail(event);" value=""tag="choosefile">
                        <label for="choosefile">
                            <p>파일 선택</p></label>
                    </div>
                    <div class="upload__form__category">
                        <p>카테고리</p>
                        <select name="art_category" required id="upload__form">
                            <option value="" selected disabled hidden>---------</option>
                            <option value="동양화">동양화</option>
                            <option value="서양화">서양화</option>
                            <option value="판화">판화</option>
                            <option value="일러스트">일러스트</option>
                            <option value="조소">조소</option>
                            <option value="설치미술">설치미술</option>
                            <option value="사진">사진</option>
                        </select>
                    </div>
                    <div class="upload__titleform">
                        <p>제목</p>
                        <input type="text" name="title" required placeholder="작품 제목을 입력해주세요.">
                    </div>
                    <div class="upload__size">
                        <p>작품 크기</p>
                        <input type="text" name="art_size" required placeholder="ex) 1024 X 960">
                    </div>
                    <div class="upload__date">
                        <p>제작 년도</p>
                        <input type="number" name="painted_year" maxlength="4" oninput="maxLengthCheck(this)" required placeholder="ex) 2022">
                    </div>
                    <div class="upload__date">
                        <p>제작 기법</p>
                        <input type="text" name="painted_way" required maxlength="20" placeholder="ex) 캔버스에 유화">
                    </div>
                    <div class="upload__price">
                        <p>가격</p>
                        <input type="number" name="price" required placeholder="가격을 입력해주세요.">
                    </div>
                    <div class="upload__contentform">
                        <p>작품 설명</p>
                        <textarea name="content" rows="3" required placeholder="작품 설명을 입력해주세요."></textarea>
                    </div>
                </div>
                <div class="upload__preview" id="preview"></div>
            </div>
            <button type="submit" class="upload__form__button">등록하기</button>
        </form>
    </div>
</div>
<script>
    function maxLengthCheck(object){
        if (object.value.length > object.maxLength){
            object.value = object.value.slice(0, object.maxLength);
        }    
    }    
</script>
<script>
    const fileUp = document.querySelector("#choosefile");
    fileUp.addEventListener("change", () => {
        const imgInfo = document.querySelector("#imginfo");
        imgInfo.value = fileUp.files[0].name;
    })
    function setThumbnail(event) {
        var reader = new FileReader();
        const imgPreview = document.querySelector("#preview");
        console.log(imgPreview.childElementCount)
        reader.onload = function (event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("class", "upload__preview__img")
            img.setAttribute("id", "imgpreview")
            if (imgPreview.childElementCount >= 1) {
                imgPreview.removeChild(document.querySelector("#imgpreview"));
                imgPreview.appendChild(img);
            }
            else {
                document.querySelector("#preview").appendChild(img);
            }
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}