{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class="d-flex flex-column justify-content-center container">
    <!-- 게시글 내용 -->
    <div class='card text-bg-dark border-light mb-3 p-3'>
        {% comment %} <h2><a class='text-decoration-none fw-bold' href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a></h2> {% endcomment %}
        <br>
        <h1 class='fw-bold'>{{ art.title }}</h1>
        <hr>
        <p class='mt-3'>{{ art.artist.nickname }}</p>
        <p class='mt-3'>{{ art.content }}</p>
        <p class='mt-3'>{{ art.painted_year }}</p>
        <p class='mt-3'>{{ art.art_category }}</p>
    </div>

    <!-- 좋아요 -->
    <div class='container mt-3 mb-3'>
        {% if request.user.is_authenticated %}
        <form class="like-forms" data-art-id="{{ art.pk }}">
            {% csrf_token %}
            <button type="submit" href="{% url 'articles:like' art.pk %}">
            {% if request.user in art.like.all %}
                <i id="like-{{ art.pk }}" class="bi bi-heart-fill"></i>
            {% else %}
                <i id="like-{{ art.pk }}" class="bi bi-heart"></i>
            {% endif %}
            </button>
            <p id="like-cnt">{{ art.like.count }}</p>
        </form>
        {% endif %}
    </div>

    <!-- 이미지 -->
    <div class='container text-center'>
        {% if art.image %}
        <img src="{{ art.image.url }}" alt="{{ article.image }}">
        {% endif %}
    </div>

    <!-- 버튼 -->
    <div class='d-flex justify-content-end'>
        {% comment %} {% if request.user == article.user %} {% endcomment %}
        <button class="btn btn-dark m-2" type="button" onclick="location.href='{% url 'articles:update' art.pk %}'">
            Update
        </button>
        {% comment %} {% endif %} {% endcomment %}
        <button class="btn btn-outline-dark m-2" type="button" onclick="location.href='{% url 'articles:main' %}'">
            BACK
        </button>
        <button class="btn btn-danger m-2" type="button" onclick="location.href='{% url 'articles:delete' art.pk %}'">
            DELETE
        </button>
        <button class="btn btn-outline-success m-2" type="button" onclick="location.href='{% url 'orders:info' art.pk %}'">
            Go to order
        </button>
    </div>
    <hr>
    <!-- 댓글 쓰기 Form-->
    <br>
    <h4>Comments</h4>
    <form action="{% url 'articles:comment_create' art.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        {% bootstrap_button button_type="submit" content="SUBMIT" %}
    </form>
    <hr>

    <!-- 댓글 목록 -->
    {% for comment in comments %}
        <p>{{ comment.content }}</p> 
        <hr>    
        {% if request.user == comment.user %}
            <form action="{% url 'articles:comment_delete' comment.art.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-dark">삭제</button>           
            </form>
        {% endif %} 
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!--좋아요-->
<script type="text/javascript">
    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    forms.forEach((form) => {
        form.addEventListener('submit', function (event) {
            event.preventDefault()
            const artId = event.target.dataset.artId

            axios({
                method: 'post',
                url: `/articles/${artId}/like/`,
                headers: {'X-CSRFToken': csrftoken},
            })
                .then((response) => {
                    const isLiked = response.data.is_liked
                    const likeBtn = document.querySelector(`#like-${artId}`)
                    const likeCnt = document.querySelector('#like-cnt')
                    const likeAdd = response.data.like_cnt

                    if (isLiked === true) {
                    likeBtn.className = 'bi bi-heart-fill'
                    likeCnt.innerText = likeAdd
                    } else {
                    likeBtn.className = 'bi bi-heart'
                    likeCnt.innerText = likeAdd
                    }
                })
                .catch((error) => {
                    console.log(error.response)
                })
            })
        })
</script>
{% endblock content %}