<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- 부트스트랩 추후 수정 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../../static/style/articles_index.css" />
  <title>Main</title>
</head>

<body>
  <section class="articles__bg" id="articles__bg">
    <nav class="articles__nav">
      <button class="offcanvas__btn btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">
        <img class="nav__logo" src="../../../static/img/logo-orange.png" alt="logo" />
      </button>
      <div style="width: 17rem" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header pb-0">
          <img class="offcanvas__logo offcanvas-title" src="../../../static/img/logo-op-blue.png" alt="logo"/>
          <div>
            <button class="offcanvas__close--btn" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="offcanvas-body">
          <ul class="offcanvas__ul">
            <!-- 로그인 유저 -->
            {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'accounts:logout' %}">
                <button class="btn offcanvas__header--btn p-0">
                  {% if request.user.creater_name %}
                    {{request.user.creater_name}}
                  {% elif request.user.username %}
                    {{ request.user.username }}
                  {% endif %}
                  <svg style="width: 1.5rem; height: 1.5rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewbox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </button>
              </a>
            </li>
            <li>
              <a href="{% url 'articles:main' %}" class="text-dark">
              홈
              </a>
            </li>
            <li>
              <a href="{% url 'accounts:profile' request.user.pk %}" class="text-dark">
              프로필
              </a>
            </li>
            <li>
              <a href="{% url 'articles:main' %}" class="text-dark">
              전체 작품
              </a>
            </li>
            <li>
              <a href="{% url 'accounts:recently' request.user.pk %}" class="text-dark">
                최근 본 작품
              </a>
            </li>
            <li>
              <a href="{% url 'notes:index' %}" class="text-dark">
              편지함
              </a>
            </li>
            <li>
              <a href="{% url 'questions:index' %}" class="text-dark">
              문의사항
              </a>
            </li>
            <li>
              About
              <img class="offcanvas__about--logo" src="../../../static/img/logo-orange.png"/>
            </li>
            <!-- 비로그인 유저 -->
            {% else %}
            <li>
              <a href="{% url 'accounts:login' %}">
                <button class="btn offcanvas__header--btn">
                  로그인 해주세요!
                  <svg style="width: 1.5rem; height: 1.5rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewbox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>
                </button>
              </a>
            </li>
            <li>
              <a href="{% url 'articles:main' %}" class="text-dark">
              홈
              </a>
            </li>
            <li>
              <a href="{% url 'articles:main' %}" class="text-dark">
              전체 작품
              </a>
            </li>
            <li>
              <a href="{% url 'questions:index' %}" class="text-dark">
              문의사항
              </a>
            </li>
            <li>
              About
              <img class="offcanvas__about--logo" src="../../../static/img/logo-orange.png"/>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- 사진 -->
    <article class="article__container">
      {% for type in page_obj %}
      <a href="{% url 'articles:detail' type.pk %}">
        <img src="{{ type.image.url }}" alt="{{ type.image }}" class="">
      </a>
      {% endfor %}
      <div class="article__grid" id="const_2">
        <div class="article__items" id="scrollbar">
            <img class="dummy" src="https://i.pinimg.com/564x/8e/26/3c/8e263c45f6ca776718f02770a5246a58.jpg"/>
            <a href='/articles/?type=동양화'>
              <img class="article__img oriental" id="one" src="https://i.pinimg.com/564x/8e/26/3c/8e263c45f6ca776718f02770a5246a58.jpg"/>
              <div class="image__info info oriental__info">
                  <p class="info__title">Oriental painting</p>
              </div>
            </a>
            <a href='/articles/?type=서양화'>
              <img class="article__img" id="two" src="https://i.pinimg.com/564x/fa/c7/9a/fac79a5932bd1702cdee1f0d1c55b8e7.jpg"/>
              <div class="image__info info">
                <p class="info__title">Western painting</p>
              </div>
            </a>
            <a href='/articles/?type=판화'>
              <img class="article__img" id="three" src="https://i.pinimg.com/736x/57/51/08/575108e52be59b706455e720f519badd.jpg"/>
              <div class="image__info info">
                <p class="info__title">Engraving</p>
              </div>
            </a>
            <a href='/articles/?type=일러스트'>
              <img class="article__img" id="four" src="https://i.pinimg.com/564x/96/3c/66/963c663e63df7c7f3e58bb18cf2ad72b.jpg"/>
              <div class="image__info info illustration__info">
                <p class="info__title">Illustration</p>
              </div>
            </a>
            <a href='/articles/?type=조각%20및%20조소'>
              <img class="article__img sculpture" id="five" src="https://i.pinimg.com/564x/ff/1c/2e/ff1c2ea98d52b96c91033dcfb42a53c9.jpg"/>
              <div class="image__info info sculpture__info">
                <p class="info__title">Sculpture</p>
              </div>
            </a>
            <a href='/articles/?type=설치미술'>
              <img class="article__img" id="six" src="https://i.pinimg.com/564x/ac/f1/86/acf186ac61b4f4704ec62e293a261be6.jpg"/>
              <div class="image__info info">
                <p class="info__title">Installation art</p>
              </div>
            </a>
            <a href='/articles/?type=사진'>
              <img class="article__img" id="seven" src="https://i.pinimg.com/564x/30/8c/80/308c806c7a37a150eaeedcc3a593efd8.jpg"/>
              <div class="image__info info picture__info">
                <p class="info__title">Picture</p>
              </div>
            </a>
            <img class="dummy2" src="https://i.pinimg.com/564x/8e/26/3c/8e263c45f6ca776718f02770a5246a58.jpg"/>
          </div>
        </div>
      </div>
    </article>
    </nav>
  </section>
  <!-- 부트스트랩 추후 수정 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
  <script>
    const articlesBg = document.querySelector("#articles__bg");
    let target = document.querySelector("#one");
    let abLeft = target.getBoundingClientRect().left;
    let abRight = target.getBoundingClientRect().right;
    let target2 = document.querySelector("#two");
    let abLeft2 = target2.getBoundingClientRect().left;
    let abRight2 = target2.getBoundingClientRect().right;
    let target3 = document.querySelector("#three");
    let abLeft3 = target3.getBoundingClientRect().left;
    let abRight3 = target3.getBoundingClientRect().right;
    let target4 = document.querySelector("#four");
    let abLeft4 = target4.getBoundingClientRect().left;
    let abRight4 = target4.getBoundingClientRect().right;
    let target5 = document.querySelector("#five");
    let abLeft5 = target5.getBoundingClientRect().left;
    let abRight5 = target5.getBoundingClientRect().right;
    let target6 = document.querySelector("#six");
    let abLeft6 = target6.getBoundingClientRect().left;
    let abRight6 = target6.getBoundingClientRect().right;
    let target7 = document.querySelector("#seven");
    let abLeft7 = target7.getBoundingClientRect().left;
    let abRight7 = target7.getBoundingClientRect().right;
    console.log(abLeft7);
    $(function () {
      $('#scrollbar').mousewheel( function (e, d) {
        this.scrollLeft -= ( d * 80);
        e.preventDefault();
        if ((this.scrollLeft+500 >= abLeft) && (this.scrollLeft+500 <= abRight)) {
          articlesBg.style.backgroundColor = "white";
        }
        else if ((this.scrollLeft+500 >= abLeft2) && (this.scrollLeft+500 <= abRight2)) {
          articlesBg.style.backgroundColor = "yellow";
        }
        else if ((this.scrollLeft+500 >= abLeft3) && (this.scrollLeft+500 <= abRight3)) {
          articlesBg.style.backgroundColor = "#ced4da";
        }
        else if ((this.scrollLeft+500 >= abLeft4) && (this.scrollLeft+500 <= abRight4)) {
          articlesBg.style.backgroundColor = "#0dcaf0";
        }
        else if ((this.scrollLeft+500 >= abLeft5) && (this.scrollLeft+500 <= abRight5)) {
          articlesBg.style.backgroundColor = "black";
        }
        else if ((this.scrollLeft+500 >= abLeft6) && (this.scrollLeft+500 <= abRight6)) {
          articlesBg.style.backgroundColor = "#c9dfff";
        }
        else if ((this.scrollLeft+500 >= abLeft7) && (this.scrollLeft+500 <= abRight7)) {
          console.log(abLeft7);
          console.log(this.scrollLeft+500);
          articlesBg.style.backgroundColor = "gray";
        }
        else {
          articlesBg.style.backgroundColor = "#203e96";
        }
      });
    });
  </script>
</body>

</html>