{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/upload.css' %}">
{% endblock css %}
{% block content %}

<div class="upload__back">
    <div class='upload__back__container'>
        <h1 class='upload__title'>작품 수정</h1>

        <form action="" method="POST" enctype="multipart/form-data" class="upload__form" id="upload__form">
            {% csrf_token %}
            <div class="upload__total">
                <div class="upload__total__info">
                    <div class="upload__img">
                        <p>이미지</p>
                        <input class="upload__img__name" id="imginfo" value="{{art.image.url}}" placeholder="첨부파일"
                            readonly="readonly">
                        <input type="file" id="choosefile" name="image" accept="image/*" onchange="setThumbnail(event);"
                            value="{{art.image.url}}" tag="choosefile">
                        <label for="choosefile">
                            <p>파일 선택</p></label>
                    </div>
                    <div class="upload__form__category">
                        <p>카테고리</p>
                        <select name="art_category" id="upload__form" >
                            <option value="{{art.art_category}}" selected="selected" hidden="hidden">{{art.art_category}}</option>
                            <option value="동양화">동양화</option>
                            <option value="서양화">서양화</option>
                            <option value="판화">판화</option>
                            <option value="일러스트">일러스트</option>
                            <option value="조소">조소</option>
                            <option value="설치미술">설치미술</option>
                            <option value="사진">사진</option>
                        </select>
                    </div>
                    <div class="upload__titleform">
                        <p>제목</p>
                        <input type="text" name="title" placeholder="작품 제목을 입력해주세요." value="{{art.title}}">
                    </div>
                    <div class="upload__size">
                        <p>작품 크기</p>
                        <input type="text" name="art_size" placeholder="ex) 1024 X 960" value="{{art.art_size}}">
                    </div>
                    <div class="upload__date">
                        <p>제작 년도</p>
                        <input type="text" name="painted_year" maxlength="4" placeholder="ex) 2022"
                            value="{{art.painted_year}}">
                    </div>
                    <div class="upload__date">
                        <p>제작 기법</p>
                        <input type="text" name="painted_way" maxlength="20" placeholder="ex) 캔버스에 유화"
                            value="{{art.painted_way}}">
                    </div>
                    <div class="upload__price">
                        <p>가격</p>
                        <input type="number" name="price" placeholder="ex) 300000" value="{{art.price}}">
                    </div>
                    <div class="upload__contentform">
                        <p>작품 설명</p>
                        <textarea name="content" rows="3" placeholder="작품 설명을 입력해주세요.">{{art.content}}</textarea>
                    </div>
                </div>
                <div class="upload__preview" id="preview">
                    <img src="{{art.image.url}}" class="upload__preview__img" id="updatepreview" alt="">
                </div>
            </div>
            <button type="submit" class="upload__form__button">등록하기</button>
        </form>
    </div>
</div>
<script>
    const fileUp = document.querySelector("#choosefile");
    fileUp.addEventListener("change", () => {
        const imgInfo = document.querySelector("#imginfo");
        imgInfo.value = fileUp.files[0].name;
    })

    function setThumbnail(event) {
        var reader = new FileReader();
        const imgPreview = document.querySelector("#preview");
        console.log(imgPreview.childElementCount)
        reader.onload = function (event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("class", "upload__preview__img")
            img.setAttribute("id", "updatepreview")
            if (imgPreview.childElementCount >= 1) {
                imgPreview.removeChild(document.querySelector("#updatepreview"));
                imgPreview.appendChild(img);
            } else {
                document.querySelector("#preview").appendChild(img);
            }
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}