@import url(./base.css);


body {
  background-color: var(--highlight);
}


.container {
  margin-top: 8rem;
}


.basket__title {
  color: var(--main);
  font-weight: bolder;
  margin: 2rem 0;
}


.basket__content {
  overflow: auto;
  overflow-x: hidden;
  padding: 0 3rem;
  background-color: var(--main);
  height: 40rem;
  font-weight: bolder;
  border-radius: 0.5rem;
}


.basket__object {
  display: flex;
  background-color: var(--white);
  height: 15rem;
  width: 74rem;
  margin: 2rem 0 2rem 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}


.basket__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
  height: 14rem;
  width: 14rem;
}


.basket__photo-object {
  border-color: var(--white);
  border-style: solid;
  max-height: 100%;
  max-width: 100%;
}


.basket__info {
  margin-left: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


.basket__price {
  display: flex;
  justify-content: center;
  align-items: center;
}


.basket__button {
  color: var(--white);
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 9rem;
}


.basket__footer {
  color: var(--main);
  margin: 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}


.basket__footer a {
  color: var(--white);
  background-color: var(--main);
}


.basket__footer a:hover {
  color: var(--white);
  background-color: var(--main);
}


.basket__footerbtn {
  width: 15rem;
}


.basket__footerfont {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}