@import url(./base.css);

body {
  background-color: var(--highlight);
}


.container {
  margin-top: 8rem;
}


.complete__pagetitle {
  color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-left: 8rem;
  margin-bottom: 5rem;
  font-weight: bold;
}


.complete__container {
  display: flex;
  justify-content: start;
}


.complete__photo-section {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-color: var(--white);
  border-style: solid;
  max-height: 1006px;
  max-width: 1000px;
}


.complete__art-size {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}


.complete__payment {
  color: var(--main);
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1rem;
}


.complete__photo {
  max-height: 1000px;
  max-width: 1000px;
}


.complete__receipt {
  justify-content: center;
  align-items: center;
  max-width: 21rem;
  background-color: var(--white);
  margin-left: 8rem;
  height: auto;
}


.receipt__topline {
  background-color: var(--main);
  height: 0.5rem;
}


.receipt__orange {
  border-radius: 50%;
  position: relative;
  background-color: var(--highlight);
  height: 3rem;
  width: 3rem;
}

/* 태블릿 */
@media screen and (max-width: 992px) {}

/* 태블릿 */
@media screen and (min-width: 769px) {}

/* 작은 태블릿 */
@media screen and (max-width: 768px) {}

/* 큰 스마트폰 */
@media screen and (min-width: 577px) {}

/* 스마트폰 */
@media screen and (max-width: 576px) {}

.orange-1 {
  top: 3rem;
  right: 1.5rem;
}


.orange-2 {
  top: 3rem;
  left: 16.5rem;
}


.receipt__title {
  color: var(--main);
  text-align: center;
  font-weight: bold;
  margin-top: 0rem;
}


.receipt__description {
  font-size: 13px;
  color: rgb(110, 110, 110);
  margin: 2rem 4rem;
}


.receipt__profile {
  text-align: center;
}


.receipt__artist-name {
  font-weight: bold;
}


.receipt__picture-link {
  margin-bottom: -1rem;
}


.receipt__artist-picture {
  border-style: dotted;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}


.receipt__dm-link {
  position: relative;
  left: 11.1rem;
  bottom: 2.4rem;
}


.receipt__gray-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--line);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}


.receipt__dm-img {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  right: 2px;
  top: 2px;
}


.receipt__footer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}


.receipt__price {
  font-weight: bold;
  font-size: 1.5rem;
}


.receipt__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: 15rem;
  color: var(--white);
}


.receipt__btn-link {
  background-color: var(--main);
}


.receipt__btn a {
  color: var(--white);
}

.receipt__btn a:hover {
  background-color: var(--main);
  color: var(--white);
}