@import url(./base.css);

.complete__bg {
  background-color: var(--highlight);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.custom-btn {
  color: #010200;
  background-color: #fff;
  border: none;
  padding: 0px;
}

/* off canvas */
.offcanvas__btn {
  background-color: transparent;
  border: none;
}

.offcanvas__btn:hover {
  background-color: transparent;
}

.offcanvas__logo {
  width: 6em;
  height: 3em;
}

.offcanvas__header--btn {
  padding: 0.1rem;
}

.bi-person-x,
.bi-person {
  cursor: pointer;
}

.offcanvas__close--btn {
  background-color: transparent;
  border: none;
}

.offcanvas__ul {
  list-style: none;
  float: right;
  text-align: right;
}

.offcanvas__ul > li {
  margin-bottom: 1rem;
}

.offcanvas__logout,
.offcanvas__profile {
  padding: 0.1rem;
}

.offcanvas__about--logo {
  width: 3rem;
  height: 1.5rem;
}

/* nav */
.articles__nav {
  position: absolute;
  top: 16px;
  left: 13px;
  z-index: 200;
}

.nav__logo {
  margin-top: 2rem;
  width: 5rem;
  height: 3rem;
  transform: rotate(90deg);
}

.nav__logo:hover {
  transform: rotate(90deg) scale(1.2);
  transition: all 200ms ease;
}

/* main */
.complete__container {
  padding: 4rem 7rem;
}

.complete__box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.complete__pagetitle {
  margin-left: 3rem;
  margin-bottom: 2rem;
  color: var(--main);
  font-weight: bold;
}

.complete__left {
  width: 50%;
  text-align: center;
  font-weight: bold;
}

.complete__photo-section {
  position: relative;
  width: 100%;
}

.complete__photo {
  width: 100%;
  max-height: 85vh;
  object-fit: fill;
}

.soldout__box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  background-color: var(--main);
  color: var(--highlight);
  font-size: 3.5vw;
  font-weight: 800;
  margin: 0;
  white-space: nowrap;
  transform: translate(-50%, -50%) rotate(30deg);
}

/* 영수증 */
.complete__right {
  display: flex;
  flex-flow: column;
  white-space: nowrap;
  width: 30%;
}

.complete__receipt {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--white);
  position: relative;
}

.receipt__topline {
  background-color: var(--main);
  height: 0.5rem;
}

.receipt__orange {
  border-radius: 50%;
  position: absolute;
  background-color: var(--highlight);
  height: 3rem;
  width: 3rem;
}

.orange-1 {
  top: 3rem;
  right: -1.5rem;
}

.orange-2 {
  top: 3rem;
  left: -1.5rem;
}

.complete__art-size {
  margin-top: 0rem;
  color: var(--line);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.complete__payment {
  color: var(--main);
  font-size: 1rem;
  margin-top: 0rem;
  padding-top: 0.4rem;
}

.receipt__title {
  color: var(--main);
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}

.receipt__description {
  margin: 2rem;
  min-height: 4rem;
  height: auto;
  text-align: center;
  white-space: initial;
  font-size: 1rem;
  color: rgb(110, 110, 110);
}

.receipt__profile {
  text-align: center;
}

.receipt__artist-name {
  font-weight: bold;
}

.receipt__picture-link {
  position: relative;
  margin-bottom: -1rem;
}

.receipt__artist-picture {
  border-style: dotted;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.receipt__dm-link {
  position: absolute;
  transform: translateX(-1.5rem);
  bottom: 0rem;
}

.receipt__gray-circle {
  background-color: var(--line);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.receipt__dm-img {
  position: relative;
  width: 1rem;
  height: 1rem;
  right: 2px;
  top: 2px;
}

.receipt__footer {
  display: flex;
  justify-content: space-around;
}

.receipt__price {
  font-weight: bold;
  font-size: 1.5rem;
}

.complete__icon {
  margin-top: 2rem;
}

.complete__insta,
.complete__link {
  color: var(--txt);
}

.complete__insta:hover,
.complete__link:hover {
  color: var(--txt);
}

.complete__link {
  font-size: 1rem;
  margin-left: 0.3rem;
}

.receipt__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.receipt__goto--home {
  margin-top: 0.7rem;
  background-color: transparent;
}

.receipt__btn a {
  font-size: 1.5rem;
  color: var(--white);
}

/* 태블릿 */
@media screen and (max-width: 800px) {
  .complete__bg {
    height: auto;
  }

  .complete__box {
    display: flex;
    flex-direction: column;
  }

  .complete__pagetitle {
    margin-left: 0rem;
  }

  .complete__left {
    width: 100%;
    margin-bottom: 2rem;
  }

  .complete__right {
    width: 100%;
  }
}
