@import url(./base.css);

.question__back {
    width: 100%;
    height: 100vh;
    background-color: var(--highlight);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question__container {
    width: 80%;
    height: 80%;
}

.question__title {
    height:20%;
    color: var(--main);
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 10rem;
    margin: 0;
}

.question__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:80%;
}

/* info 왼쪽 div */

.question__total {
    width: 100%;
    height: 80%;
    display: flex;
}

.question__info {
    width: 60%;
    height: 100%;
    margin-bottom: 3rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question__info__name {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 8%;
    align-items: center;
}

.question__info__name p {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

.question__info__name input {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
    outline: none;
    transition: all .3s;
}

.question__info__email {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 8%;
    align-items: center;
}

.question__info__email p {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

.question__info__email input {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
    outline: none;
    transition: all .3s;
}

.question__img {
    display: flex;
    width: 100%;
    height: 8%;
    align-items: center;
}

.question__img p {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

.question__img__name {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
    cursor:default;
    background-color: gray;
    color: rgba(0, 0, 0, 0.185);
    outline: none;
    transition: all .3s;
}

.question__img label {
    margin-left: 1rem;
    width: 9%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.8);
    color:black;
    font-size: .9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}

#choosefile {
    display: none;
}

.question__titleform {
    display: flex;
    width: 100%;
    height: 8%;
    align-items: center;
}

.question__titleform p {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

.question__titleform input {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
    outline: none;
    transition: all .3s;
}

.question__contentform {
    display: flex;
    width: 100%;
}

.question__contentform p {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

.question__contentform textarea {
    width: 80%;
    height: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
    outline: none;
    transition: all .3s;
}

.question__form__button {
    width: 25%;
    height: 7%;
    background-color: var(--main);
    color: var(--white);
    border: none;
    border-radius: 10px;
    outline: 0;
    transition: all .3s;
    font-size: 1.2rem;
}

.question__preview {
    width: 40%;
    height: 100%;
}

.question__preview__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1200px) {
    .question__total {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .question__form {
        height:100%;
    }

    .question__info {
        width: 100%;
        height: 50%;
        margin-bottom: 3rem;
        padding-right: 2rem;
    }

    .question__preview {
        width: 100%;
        height: 40%;
    }

    .question__preview__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .question__img label {
        font-size: .9vw;
    }

    .question__info__name {
        height: 12%;
        margin-top: 1rem;
    }

    .question__info__email {
        height: 12%;
        margin-top: 1rem;
    }

    .question__img {
        height: 12%;
        margin-top: 1rem;
    }

    .question__titleform {
        height: 12%;
        margin-top: 1rem;
    }

    .question__contentform {
        margin-top: 1rem;
    }
    .question__contentform textarea {
        font-size: 1.5rem;
    }
    .question__form__button {
        width: 40%;
        height: 5%;
        transition: all .3s;
    }
}

@media (max-width: 700px) {
    .question__info__name p {
        font-size: 1.3rem;
    }
    .question__info__email p {
        font-size: 1.3rem;
    }
    .question__titleform p {
        font-size: 1.3rem;
    }
    .question__contentform p {
        font-size: 1.3rem;
    }
    .question__img p {
        font-size: 1.3rem;
    }
    .question__img label {
        font-size: .9vw;
    }
    .question__titleform input {
        font-size: 3vw;
        transition: all .3s;
    }

    .question__contentform textarea {
        width: 80%;
        height: 100%;
        font-size: 3vw;
        transition: all .3s;
    }
    .question__img__name {
        font-size: 3vw;
        transition: all .3s;
    }
    
    .question__img label {
        width: 9%;
        height: 100%;
        font-size: .9vw;
        transition: all .3s;
    }
    .question__info__name {
        height: 9%;
    }

    .question__info__email {
        height: 9%;
    }
    .question__img {
        height: 9%;
    }

    .question__titleform {
        height: 9%;
    }
    .question__form__button {
        width: 40%;
        height: 4%;
        transition: all .3s;
    }
}

@media (max-height: 800px) {
    .question__info__name p {
        font-size: 1.2rem;
    }
    .question__info__email p {
        font-size: 1.2rem;
    }
    .question__titleform p {
        font-size: 1.2rem;
    }
    .question__contentform p {
        font-size: 1.2rem;
    }
    .question__img p {
        font-size: 1.2rem;
    }
    .question__price p {
        font-size: 1.2rem;
    }
    .question__img label {
        font-size: .9vw;
    }
    .question__titleform input {
        font-size: 1.1rem;
        transition: all .3s;
    }
    .question__contentform textarea {
        width: 80%;
        height: 100%;
        font-size: 1.1rem;
        transition: all .3s;
    }
    .question__img__name {
        font-size: 1.1rem;
        transition: all .3s;
    }
    
    .question__img label {
        width: 9%;
        height: 100%;
        font-size: .9vw;
        transition: all .3s;
    }

    .question__form__button {
        height: 8%;
        transition: all .3s;
    }
}