@import url(./base.css);

.info__bg {
  background-color: var(--high-sub);
  width: 100%;
  height: 100vh;
}

.custom-btn {
  color: #010200;
  background-color: transparent;
  border: none;
  padding: 0px;
}

/* off canvas */
.offcanvas__btn {
  background-color: transparent;
  border: none;
}

.offcanvas__btn:hover {
  background-color: transparent;
}

.offcanvas__logo {
  width: 6em;
  height: 3em;
}

.offcanvas__header--btn {
  padding: 0.1rem;
}

.bi-person-x,
.bi-person {
  cursor: pointer;
}

.offcanvas__close--btn {
  background-color: transparent;
  border: none;
}

.offcanvas__ul {
  list-style: none;
  float: right;
  text-align: right;
}

.offcanvas__ul > li {
  margin-bottom: 1rem;
}

.offcanvas__logout,
.offcanvas__profile {
  padding: 0.1rem;
}

.offcanvas__about--logo {
  width: 3rem;
  height: 1.5rem;
}

/* nav */
.articles__nav {
  position: absolute;
  top: 16px;
  left: 13px;
  z-index: 200;
}

.nav__logo {
  margin-top: 2rem;
  width: 5rem;
  height: 3rem;
  transform: rotate(90deg);
}

.nav__logo:hover {
  transform: rotate(90deg) scale(1.2);
  transition: all 200ms ease;
}

/* main */
.info__container {
  padding: 4rem 5.5rem;
  display: flex;
}

.info__photo-section {
  width: 80%;
}

.info__photo {
  width: 100%;
  max-height: 85vh;
}

.info__detail-section {
  display: flex;
  flex-flow: column;
  margin-left: 5rem;
  width: 100%;
  height: 85vh;
  white-space: nowrap;
}

.info__title {
  color: var(--main);
  font-weight: 600;
}

.info__detail {
  margin-bottom: 2rem;
  color: var(--white);
  opacity: 0.9;
}

.info__description {
  color: var(--white);
  min-height: 13rem;
}

.info__artist-name {
  display: flex;
  margin-right: 0.5rem;
  font-weight: 600;
  color: var(--main);
}

.info__inquire {
  display: flex;
  margin-bottom: 1rem;
}

.info__inquire a {
  color: var(--white);
}

.info__hr {
  color: var(--white);
  margin-bottom: 3rem;
  border-width: 3px;
}

.info__price-section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
}

.info__order {
  display: flex;
  justify-content: flex-end;
  margin-top: 6rem;
  color: var(--white);
}

.info__cart {
  width: 9rem;
  height: 3rem;
  color: var(--white);
  background-color: var(--main);
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

.info__cart:hover {
  color: var(--main);
  background-color: var(--white);
  border: 2px solid var(--main);
  transition: all 200ms ease-in-out;
}

.info__order a {
  color: var(--white);
  background-color: var(--main);
}

.info__order a:hover {
  color: var(--white);
  background-color: var(--main);
}

@media (max-width: 1000px) {
  .info__bg {
    height: auto;
  }

  .info__container {
    flex-direction: column;
  }

  .info__photo-section {
    width: 100%;
  }

  .info__detail-section {
    margin-top: 3rem;
    margin-left: 0;
  }
}

.info__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.info__modal-content {
  max-width: 60rem;
  max-height: 60rem;
}

.offer_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.offer_modal-content {
  max-width: 50rem;
  max-height: 80rem;
}

.offer-btn {
  background-color: var(--high-sub);
  border: none;
  border-radius: 10%;
  color: white;
  font-size: 1rem;
}

.offer-btn:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
  color: var(--high-sub);
  border: 1px solid var(--high-sub);
}

.offer-outline-btn {
  border: 1px solid var(--high-sub);
  color: var(--high-sub);
}

.offer-outline-btn:hover {
  background-color: var(--high-sub);
  color: white;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

.offer-line {
  border: 1px solid var(--highlight);
}
