@import url(./base.css);

body {
  background-color: var(--highlight);
}


hr {
  color: var(--white);
  margin-bottom: 3rem;
  border-width: 3px;
}


.container {
  margin-top: 8rem;
}


.info__container {
  display: flex;
}


.info__photo-section {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  max-height: 506px;
  max-width: 506px;
}

.info__photo {
  border-color: var(--white);
  border-style: solid;
  max-height: 100%;
  max-width: 100%;
}


.info__detail-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 10rem;
  /* border-style: dotted; */
}


.info__title {
  padding: 2rem 0 1rem 2rem;
  color: var(--main);
}


.info__description {
  color: var(--white);
  padding: 1rem 2rem;
}


.info__detail {
  padding: 2rem;
  color: var(--white);
}


.info__artist-name {
  display: flex;
  margin: 0;
  padding: 0 2rem 0 0;
  color: var(--main);
}


.info__inquire {
  display: flex;
  margin: 0;
  padding: 1rem 2rem 1rem 0;
}


.info__inquire a {
  color: var(--white);
}


.info__price-section {
  color: var(--white);
}


.info__price {
  margin: 1rem 0 2rem 2rem;
}


.info__order {
  display: flex;
  margin: 0 2rem 5rem 0;
  color: var(--white);
}


.info__order button {
  color: var(--white);
  background-color: var(--main);
}


.info__order button:hover {
  color: var(--white);
  background-color: var(--main);
}


.info__order a {
  color: var(--white);
  background-color: var(--main);
}


.info__order a:hover {
  color: var(--white);
  background-color: var(--main);
}