@import url(./base.css);

.detail__bg {
    background-color: var(--main);
    width: 100%;
    height: 100vh;
}

.custom-btn {
  color: #010200;
  background-color: #fff;
  border: none;
  padding: 0px;
}

/* off canvas */
.offcanvas__btn {
    background-color: transparent;
    border: none;
}

.offcanvas__btn:hover {
    background-color: transparent;
}

.offcanvas__logo {
    width: 6em;
    height: 3em;
  }

.offcanvas__header--btn {
    padding: 0.1rem;
}

.bi-person-x,
.bi-person {
    cursor: pointer;
}

.offcanvas__close--btn {
    background-color: transparent;
    border: none;
}

.offcanvas__ul {
    list-style: none;
    float: right;
    text-align: right;
}

.offcanvas__ul > li {
    margin-bottom: 1rem;
}

.offcanvas__logout,
.offcanvas__profile {
    padding: 0.1rem;
}

.offcanvas__about--logo {
    width: 3rem;
    height: 1.5rem;
}

/* nav */
.articles__nav {
    position: absolute;
    top: 16px;
    left: 13px;
    z-index: 200;
  }
  
.nav__logo {
    margin-top: 2rem;
    width: 5rem;
    height: 3rem;
    transform: rotate(90deg);
}
  
.nav__logo:hover {
    transform: rotate(90deg) scale(1.2);
    transition: all 200ms ease;
}

.myquestion__back {
    background-color: var(--main);
    width: 100%;
    overflow: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myquestion__container {
    width: 60%;
    height: 80%;
}

.myquestion__title {
    height: 20%;
    position: relative;
    margin-bottom: 2rem;
    transition: all .3s;
}

.myquestion__title__text {
    color: var(--highlight);
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    margin-left: 1rem;
}

.myquestion__title a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .myquestion__title button {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 8rem;
    height: 3rem;
    color: var(--high-sub);
    font-size: 1.2rem;
    background-color: var(--white);
    border: 3px solid var(--high-sub);
    border-radius: 10px;
    transition: all .3s;
}

.myquestion__title button:hover {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 8rem;
    height: 3rem;
    color: var(--white);
    font-size: 1.2rem;
    background-color: var(--highlight);
    border-radius: 10px;
    border: none;
    transition: all .3s;
} */

.order-outline-btn {
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: var(--high-sub);
    color: white;
    border: none;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
.order-outline-btn:hover {
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: var(--white);
    border: 1px solid var(--high-sub);
    color: var(--high-sub);
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}

.myquestion__list__last {
    width: 100%;
    height: 10%;
    opacity: 1;;
}

.myquestion__list {
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: var(--white);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}
.myquestion__list__title {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;

}

.myquestion__list__title p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30%;
    margin: 0;
}

.myquestion__title__content {
    width: 100%;
    height: 50%;
    display: none;
    padding: 1rem;
}

.myquestion__list .active ~ .myquestion__title__content {
    display: flex;
}

.myquestion__title__content__image {
    width: 50%;
    display: flex;
    align-items: center;
}

.myquestion__title__content__image img {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    transition: all .3s;
}

.myquestion__title__content__box {
    width: 60%;
    height: 80%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    margin-top: 2.5rem;
}

.myquestion__title__content__text {
    width: 100%;
    height: 30%;
    font-size: 20px;
    font-weight: 530;
    margin: 0;
    margin-bottom: 5px;
}

.myquestion__title__content__comment {
    width: 100%;
    height: 70%;
    font-size: 16px;
    margin: 0;
    margin-top: 2rem;
}
.myquestion__list__title__button {
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    right: 0%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 버튼 토글부분 */

.myquestion__list__title__button:focus {
    outline: 0;
}

.myquestion__list__title__button__down {
    width: 1.3rem;
    height: 1.5rem;
}

.myquestion__list__title__button__cancle {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
}

.myquestion__list .active .myquestion__list__title__button .myquestion__list__title__button__cancle {
    display: block;
}

.myquestion__list .active .myquestion__list__title__button .myquestion__list__title__button__down {
    display: none;
}

@media (max-width:1200px) {
    .myquestion__title__content__image {
        padding-left: 0;
    }
    .myquestion__title__content__image img {
        width: 100%;
        height: 100%;
        padding: 1rem;
        transition: all .3s;
    }
    .myquestion__title__content__box {
        width: 60%;
        height: 100%;
        display: flex;
        padding: 1rem;
        flex-direction: column;
    }
}

@media (max-width:900px) {
    .myquestion__list .active ~ .myquestion__title__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .myquestion__title__content__image img {
        width: 100%;
        height: 100%;
        padding: 0;
        transition: all .3s;
    }
    .myquestion__title__content__box {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 1rem;
        flex-direction: row;
    }
    .myquestion__title__content__comment {
        display: none;
    }
    .myquestion__title__content {
        margin-top: 1rem;
        height: 70%;
    }
    .myquestion__list__title {
        font-size: 1.5rem;
    }
    .myquestion__title__content__image {
        width: 90%;
        height: 60%;
        display: flex;
        align-items: center;
    }
    .myquestion__title__content__text {
        font-size: 1.3rem;
        margin-top: 2rem;
    }
}

@media (max-width:500px) {
    .myquestion__title__text {
        font-size: 2rem;
    }
    .myquestion__title button {
        top: 2%;
        right: 5%;
        width: 7rem;
        height: 2rem;
        font-size: 1rem;
    }
    .myquestion__title {
        height: 10%;
        transition: all .3s;
    }
    .myquestion__list__title {
        font-size: 1rem;
    }
    .myquestion__title__content__text {
        font-size: 1rem;
    }
}

@media (max-height: 580px){
    .myquestion__list__title {
        font-size: 1.5rem;
    }
    .myquestion__title__content__image {
        width: 30%;
    }
    .myquestion__title__text {
        font-size: 3.5rem;
    }
}

@media (max-height: 580px) and (max-width: 900px) {
    .myquestion__title__text {
        font-size: 2rem;
    }
    .myquestion__title__content__image {
        width: 100%;
    }
}

.offer-form {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 5%;
    right: 3%;
}

.offer-outline-btn {
    border: 1px solid var(--high-sub);
    color: var(--high-sub);
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }
  
  .offer-outline-btn:hover {
    background-color: var(--high-sub);
    color: white;
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
  }

  .category-text {
    color: var(--txt);
    font-size: 15px;
    margin-right: 15px;
    font-weight: 100;
}