@import url(./base.css);

body {
    background-color: var(--high-sub);
}

.question-back {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    /* overflow: auto; */
}

.question__container {
    width: 75%;
    height: 90%;
}

/* QNA 타이틀이랑 내 문의하기 */

.question__container__header {
    width: 100%;
    height: 10%;
    position: relative;
}

.question__container__title {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    color: var(--main);
    font-weight: bold;
}

.question__container__header a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question__container__header button {
    position: absolute;
    top: 25%;
    right: 3%;
    width: 10%;
    height: 60%;
    color: var(--white);
    font-size: 1.2rem;
    background-color: var(--main);
    border-radius: 10px;
    border: none;
    transition: all .3s;
}

/* 메인 박스 부분 */

.question__container__main {
    width: 100%;
    height: auto;
    /* background-color: var(--main); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem 3rem;
    overflow: hidden;
}

.question__container__main__box {
    width: 100%;
    height: auto;
    margin: 1.5rem 0;
    background-color: var(--white);
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    position: relative;
}

.question__container__main__box__title {
    font-size: 1.8vw;
    transition: all .3s;
}

.question__container__main__box__answer {
    display: none;
    margin: 35px 0 0;
    font-size: 1.2vw;
    transition: all .3s;
    word-break: break-all;
}

/* active 되었을 경우 */

.active {
    background-color: var(--white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.question__container__main .active .question__container__main__box__answer {
    display: block;
}

/* 메인 버튼아이콘 부분 */

.question__container__main__box__button {
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    right: 5%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question__container__main__box__button:focus {
    outline: 0;
}

.question__container__main__box__button__down {
    width: 1.5rem;
    height: 1.5rem;
}

.question__container__main__box__button__cancle {
    display: none;
    width: 2rem;
    height: 2rem;
}

.question__container__main .active .question__container__main__box__button .question__container__main__box__button__cancle {
    display: block;
}

.question__container__main .active .question__container__main__box__button .question__container__main__box__button__down {
    display: none;
}

/* 문의하기 부분 */

.question__container__footer {
    width: 100%;
    height: 10%;
    position: relative;
}

.question__container__footer a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.question__container__footer button {
    position: absolute;
    top: 25%;
    right: 3%;
    width: 10%;
    height: 60%;
    color: var(--white);
    font-size: 1.2rem;
    background-color: var(--main);
    border-radius: 10px;
    border: none;
    transition: all .3s;
}

@media (max-width: 1700px) {

    .question__container__footer button,
    .question__container__header button {
        width: 14%;
        font-size: 1.2rem;
        transition: all .3s;
    }
}

@media (max-width: 1200px) {

    .question__container__footer button,
    .question__container__header button {
        width: 16%;
        font-size: 1.2rem;
        transition: all .3s;
    }

    .question__container__main__box__title {
        font-size: 1.8vw;
        transition: all .3s;
    }

    .question__container__main__box__answer {
        font-size: 1.4vw;
        transition: all .3s;
    }

}

@media (max-width: 950px) {

    .question__container__header {
        width: 100%;
        height: 20%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .question__container__footer button,
    .question__container__header button {
        width: 100%;
        font-size: 1.2rem;
        height: 50%;
        transition: all .3s;
        right: 0%;
        top: 0%;
    }

    .question__container__title {
        font-size: 4rem;
        justify-content: center;
    }

    .question__container__header a {
        justify-content: end;
        height: 50%;
    }

    .question__container__header button {
        position: relative;
        height: 85%;
        transition: all .3s;
    }

    .question__container__main__box__title {
        font-size: 3vw;
    }

    .question__container__main__box__answer {
        font-size: 2.5vw;
    }
}

@media (max-height: 1000px) {
    .question__container__main__box__title {
        font-size: 1.5vw;
        transition: all .3s;
        margin: 0;
    }

    .question__container__main__box {
        padding: 1rem 2rem;
        margin: .5rem 0;
    }
}

/* 네브바 */
@import url("./base.css");

.profile {
  width: 100vw;
  height: 100vh;
  background-color: var(--high-sub);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: auto;
}

.custom-btn {
  color: #010200;
  background-color: #fff;
  border: none;
  padding: 0px;
}

.profile__container {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
}

.profile__container__info {
  width: 25%;
  height: 100%;
}

.profile__container__tabs {
  width: 75%;
  height: 100%;
}

/* profile CSS */

/* profile images */

.profile__container__info__img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile__container__info__img__back {
  width: 80%;
  height: 70%;
  position: relative;
}

.profile__container__info__img img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.profile__container__info__img__dm {
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 100%;
}

.profile__container__info__img__dm svg {
  width: 2rem;
  height: 2rem;
}

/* profile name, email */

.profile__container__info__text {
  text-align: center;
}

.profile__container__info__text__name {
  margin: 1rem 0;
  font-size: 2.5vw;
  font-weight: bold;
}

.profile__container__info__text__email {
  text-decoration: none;
  font-size: 1vw;
}

.profile__container__info__detail {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 1vw;
  color: white;
  transition: all 0.3s;
}

/* writer check */
.profile__container__info__writer {
  width: 100%;
  height: 7%;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--main);
  font-size: 1.2vw;
  color: var(--white);
}

/* hr */

.profile__container__info__hr {
  margin: 1rem 0;
  color: white;
  opacity: 1;
}

/* social */
.profile__container__info__social {
  padding: 0;
  flex-direction: column;
}

.profile__container__info__social p {
  font-size: 2rem;
  font-weight: bold;
}

.profile__container__info__social div {
  display: flex;
  justify-content: space-around;
}

.profile__container__info__social div svg {
  margin-top: 2rem;
  width: 2rem;
  height: 2rem;
  color: white;
}

.profile__container__info__social div svg:hover {
  color: black;
  cursor: pointer;
}

/* 탭 CSS */

.profile__container__tabs input[type="radio"] {
  display: none;
}

.profile__container__tabs label {
  width: 22.5%;
  font-size: 1.3vw;
  border-bottom: solid white;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.profile__container__tabs label[id="tab05"] {
  width: 10%;
  border-bottom: solid white;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 1rem 0 0 0;
}

.profile__container__tabs label[id="tab05"] svg {
  width: 1.4vw;
  height: 1.4vw;
}

.profile__container__tabs input[type="radio"]:checked + label {
  background-color: white;
  color: black;
}

.profile__container__tabs__box {
  width: 100%;
  height: 80%;
  display: none;
  position: relative;
}

.profile__container__tabs .current {
  display: flex;
  justify-content: center;
}

/* 작품란 card CSS */

.profile__container__tabs__box__grid {
  margin-top: 2rem;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
  justify-content: center;
}

.profile__container__tabs__box__grid__card {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  transition: all .3s;
}

.profile__container__tabs__box__grid__card__imgbox {
  position: relative;
  width: 100%;
  height: 60%;
}

.profile__container__tabs__box__grid__card__imgbox img {
  width: 100%;
  height: 100%;
}

.profile__container__tabs__box__grid__card__main {
  width: 100%;
  height: 30%;
  padding: 1rem;
  position: relative;
  background-color: var(--main);
  color: white;
}

.profile__container__tabs__box__grid__card__main_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.3vw;
}

.profile__container__tabs__box__grid__card__main_price {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1vw;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.profile__container__tabs__box__grid__card__imgbox__icon {
  position: absolute;
  width: 3vw;
  height: 3vh;
  right: 1%;
  top: 5%;
  color: gray;
}

.profile__container__tabs__box__grid__card__imgbox__icon2 {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 2vw;
  height: 2vh;
  right: 1%;
  top: 5%;
  color: #d00000;
}


.pag_box1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

/* 판매완료 태그 */

.complete__photo-section {
  position: relative;
  width: 100%;
}

.complete__photo {
  width: 100%;
  max-height: 85vh;
  object-fit: fill;
}

.soldout__box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  background-color: var(--main);
  color: var(--highlight);
  font-size: 1.5vw;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  transform: translate(-50%, -50%) rotate(30deg);
  border-radius: 4px;
}

/* 1500px 일때 프로필, 글자 조정 */

@media (max-width: 1500px) {
  .profile__container__info__img__back {
    width: 90%;
    height: 60%;
    position: relative;
    transition: all 0.3s;
  }
  .profile__container__info__detail {
    width: 100%;
    height: 20%;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    color: white;
    transform: translateY(-20%);
    transition: all 0.3s;
  }

  .profile__container__info__writer {
    width: 100%;
    height: 6%;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: var(--main);
    font-size: 1.2vw;
    color: var(--white);
  }

  .profile__container__info__hr {
    margin: 1rem 0 1rem 0;
    color: white;
    opacity: 1;
  }

  .profile__container__tabs__box__grid__card {
    width: 100%;
    height: 90%;
    padding: 0 1rem;
    transition: all 0.3s;
  }

  .profile__container__info__social {
    padding: 0;
    flex-direction: column;
  }
}

@media (max-width: 1300px) {  
  .profile__container__tabs__box__grid {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 50%);
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .profile__container__tabs__box__grid__card {
    width: 90%;
    height: 90%;
    padding: 0 1rem;
  }
}

@media (max-width: 1100px) {
  .profile__container__info {
    width: 25%;
    height: 100%;
}

  .profile__container__info__img__back {
    width: 90%;
    height: 60%;
    position: relative;
  }

  .profile__container__info__detail {
    width: 100%;
    height: 20%;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: .7rem;
    color: white;
}

  .profile__container__info__hr {
    margin: 1rem 0 1rem 0;
    color: white;
    opacity: 1;
  }

  .profile__container__tabs__box__grid__card {
    width: 100%;
    height: 90%;
    padding: 0 1rem;
  }

  .profile__container__info__social {
    padding: 0;
    flex-direction: column;
  }

  .profile__container__info__social p {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

@media (max-width: 900px) {
  .profile {
    width: 100vw;
    height: 100%;
    background-color: var(--highlight);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 0;
  }

  .pag_box1 {
    transform: translate(-50%, 0%);
  }

  .profile__container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__container__info {
    width: 90%;
    height: 100%;
  }

  .profile__container__info__img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
  }

  .profile__container__info__img__back {
    width: 90%;
    height: 60%;
    display: flex;
    transition: all 0.3s;
    justify-content: center;
  }

  .profile__container__info__img__dm {
    position: absolute;
    width: 12vw;
    height: 12vw;
    right: 8%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 100%;
  }

  .profile__container__info__img__dm svg {
    width: 8vw;
    height: 8vw;
  }

  .profile__container__info__text__name {
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
  }

  .profile__container__info__text__email {
    text-decoration: none;
    font-size: 2rem;
}

  .profile__container__info__detail {
    width: 100%;
    height: 20%;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: white;
    transform: translateY(0);
  }

  .profile__container__info__writer {
    width: 100%;
    height: 10%;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: var(--main);
    font-size: 2rem;
    color: var(--white);
  }

  .profile__container__info__social {
    padding: 0;
    flex-direction: column;
    margin-bottom: 4rem;
    transition: all 0.3s;
  }

  .profile__container__tabs {
    width: 90%;
    height: 100%;
  }

  .profile__container__tabs__box__grid {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 16.5%);
    justify-content: center;
    overflow: auto;
  }

  .profile__container__tabs__box__grid__card {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
  }

  .profile__container__tabs label {
    width: 22.5%;
    font-size: 2.5vw;
    border-bottom: solid white;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 1rem;
  }

  .profile__container__tabs label[id="tab05"] svg {
    width: 4vw;
    height: 4vw;
  }

  .profile__container__tabs__box__grid__card__imgbox__icon {
    position: absolute;
    width: 6vw;
    height: 6vh;
    right: 5%;
    color: gray;
    transition: all 0.3s;
  }

  .profile__container__tabs__box__grid__card__main_title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 5vw;
  }

  .profile__container__tabs__box__grid__card__main_price {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 4vw;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-height: 700px) {
  .profile__container__tabs__box__grid {
    margin-top: 2rem;
  }
  .pag_box1 {

    bottom: 0;
    left: 50%;
    transform: translate(-50%, 110%);
  }
  .profile__container__info__text__name {
    font-size: 5vh;
    margin: 0;
  }
  .profile__container__info__text__name p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .profile__container__info__img__back {
    height: 90%;
    transition: all .3s;
  }
  .profile__container__info__text__email {
    text-decoration: none;
    font-size: .7rem;
  }
}

@media (max-height: 1100px) {
  .profile__container__info__detail {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 1.5vh;
    color: white;
    transition: all 0.3s;
  }

  .profile__container__tabs__box__grid__card__main_title {
    font-size: 2vh;
}

  .profile__container__tabs__box__grid__card__main_price {
    font-size: 1.5vh;
  }
}

@media (max-height: 1100px) and (max-width: 1500px) {
  .profile__container__info__detail {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 1.5vh;
    color: white;
    transition: all 0.3s;
  }

  .profile__container__info__detail {
    transform: translateY(0%);
  }
}

@media (max-height: 1100px) and (max-width: 1100px) {
  .profile__container__info__detail {
    font-size: 1vh;
  }
}

@media (max-height: 1100px) and (max-width: 900px) {
  .profile__container__info__detail {
    font-size: 2vh;
  }
}

@media (max-height: 850px) and (max-width: 1500px) {
  .profile__container__info__img__back {
    width: 70%;
    height: 80%;
  }
  .profile__container__tabs__box__grid__card__main {
    padding: 0.5rem;
  }
}

@media (max-height: 650px) and (max-width: 1500px) {
  .profile__container__info__detail p {
    margin: 0;
  }
}

@media (max-height: 1100px) and (max-width: 900px) {
  .profile__container__tabs__box__grid__card__main_title {
    font-size: 5vw;
  }
  .profile__container__tabs__box__grid__card__main_price {
    font-size: 4vw;
  }
}

@media (max-height: 700px) and (max-width: 900px) {
  .profile__container__info__text__name {
    font-size: 5rem;
    margin: 0;
  }
  .profile__container__info__detail {
    font-size: 2vw;
  }
  .profile__container__info__text__email {
    text-decoration: none;
    font-size: 2rem;
}
}

/* off canvas */
.offcanvas__btn {
  background-color: transparent;
  border: none;
}

.offcanvas__btn:hover {
  background-color: transparent;
}

.offcanvas__logo {
  width: 6em;
  height: 3em;
}

.offcanvas__header--btn {
  padding: 0.1rem;
}

.bi-person-x,
.bi-person {
  cursor: pointer;
}

.offcanvas__close--btn {
  background-color: transparent;
  border: none;
}

.offcanvas__ul {
  list-style: none;
  float: right;
  text-align: right;
}

.offcanvas__ul>li {
  margin-bottom: 1rem;
}

.offcanvas__logout,
.offcanvas__profile {
  padding: 0.1rem;
}

.offcanvas__about--logo {
  width: 3rem;
  height: 1.5rem;
}

/* nav */
.articles__nav {
  position: absolute;
  top: 16px;
  left: 13px;
  z-index: 200;
}

.nav__logo {
  margin-top: 2rem;
  width: 5rem;
  height: 3rem;
  transform: rotate(90deg);
}

.nav__logo:hover {
  transform: rotate(90deg) scale(1.2);
  transition: all 200ms ease;
}