@import url(./base.css);

.start__bg {
  background-color: var(--main);
  height: 100vh;
}

.start__sentence {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.start__logo {
  width: 9rem;
  height: 6rem;
}

.welcome__sentence {
  margin: 0;
  color: var(--highlight);
  font-size: 2rem;
  font-weight: 700;
}
