{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/signup.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
  {% bootstrap_css %}
  {% block css %}{% endblock css %}
  <title>Never ending story</title>
  <style>
    .simplebar-scrollbar::before {
      background-color: var(--white);
    }
  </style>
</head>

<body>
  <div id="main">
    {% block content %}{% endblock content %}
  </div>
  {% bootstrap_javascript %}
  {% block js %}{% endblock js %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
  <script>
    const simpleBar = new SimpleBar(document.getElementById('main'));

    let main = document.getElementById("main");

    function setScreenSize() {
      let IntNowScreenHeight = window.innerHeight
      // 본문영역에 높이가 있는 div 추가되면 다시 계산하여 적용해야함
      // footer 는 fixed 처럼 움직이게 됨
      let StrNowScreenHeight = String(IntNowScreenHeight);
      main.style.height = StrNowScreenHeight + "px";
    };
    window.addEventListener("load", setScreenSize);
    window.addEventListener("resize", setScreenSize);
  </script>
  <script>
    let i = 0;
    // 모달 추가하는 법
    // 1. 모달 버튼 클래스에 "modal-btn" 추가하기
    // 2. 모달 버튼과 모달 잘 연결하기
    const modalBtnSet = document.querySelectorAll(".modal-btn");
    for (i; i < modalBtnSet.length; i++) {
      modalBtnSet[i].addEventListener("click", function (event) {
        if (document.querySelector(".modal-backdrop") !== null) {
          const modalBack = document.querySelector("#modal-back-div");
          modalBack.appendChild(document.querySelector(event.target.dataset.bsTarget));
        };
      });
    };
  </script>
  <div id="modal-back-div" class="d-flex justify-content-center"></div>
</body>

</html>