<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/style/start.css"/>
    <title>NES 시작</title>
  </head>

  <body>
    <section class="start__bg">
      <div class="start__sentence">
        <img class="start__logo" src="../static/img/logo-orange.png" alt="logo"/>
        <span class="welcome__sentence"></span>
        <span class="blink">|</span>
      </div>
    </section>
    <script src="../static/script/start.js"></script>
  </body>

</html>
